.sidebar {
  height: 100%;
  width: 150px;
  background: #171f26;

  .logo-warp {
    padding: 10px 0;
    text-align: center;

    .logo {
      width: 50px;
      height: 50px;
    }
  }

  .menu-warp {
    margin: 5px 0;

    .menu {
      list-style: none;
      font-size: 15px;
    }

    .menu-item {
      padding: 3px 0 3px 30px;
      line-height: 1.5;

      .menu-item-icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        position: relative;
        top: 4px;
      }

      .menu-item-link {
        display: block;
        color: #ffffff;
        font-weight: 200;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: none;
      }

      &.active {
        background-color: #0e83cd;
      }
    }
  }
}

