body {
  line-height: 1.5;
  background: #fff;
  font-size: 14px;
  font-family: PingFang SC, Microsoft YaHei, Helvetica Neue,Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  outline: none;
}
