* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background: #fff;
  font-size: 14px;
  font-family: PingFang SC, Microsoft YaHei, Helvetica Neue,Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(0);
  }
}
